{{#if noConversations}}
<div class="ui container">
	<div class="ui center aligned segment">
		<i class="green check icon"/> Thanks for signing up! <br>
		{{#if session.secure.isHighSchooler}}
			We're working on finding
			{{#if session.secure.isHighSchooler}} a mentor {{else}} mentees {{/if}}
			for you and will be in touch very soon <i class="smile icon"/> <br>
	    	<img class="ui centered medium image" src="assets/images/logo.png">	
			Request additional mentors or edit your profile {{#link-to 'myaccount'}} here {{/link-to}}    
		{{else}}
			{{#if session.secure.confirmed}}
			Your account has been confirmed, we'll be in touch as soon as we find you a mentee <i class="smile icon"/>			
			{{else}}
			Watch for a confirmation email from us - once you've confirmed your account, we'll get
			started ASAP finding you a mentee <i class="smile icon"/>
			{{/if}}
	    	<img class="ui centered medium image" src="assets/images/logo.png">	
			Feel free to edit your profile {{#link-to 'myaccount'}} here {{/link-to}} 
		{{/if}}
	
	</div>
</div>
{{else}}
<div class="ui compact celled grid" style="height: 100%; margin-bottom: 0px">
	<div class="middle aligned row" style="height: 12%">
		<div class="five wide column"> 
			<div class="ui centered header"> 
				<div class="centered content"> <i class="blue user icon"/>  Connections </div> 
			</div>
		</div>
		<div class="eleven wide column"> 
			<div class="ui centered header sixteen wide column"> {{outlet "partner-name"}} </div> 
		</div>
	</div>

	<div class="row" style="height: 88%">
		<div class="five wide column" id="conversation-list" style="padding:0px; overflow-y: scroll">

			<div class="ui huge relaxed divided selection list" >
				{{#each model key="id" as |convo|}}
					{{#link-to 'conversations.conversation' convo.id class="left-padded item"}} 				
					{{#conversation-link conversation=convo}}{{/conversation-link}}
					{{/link-to}}
				{{/each}}
				<div class="ui divider" style="margin-top: 0px"></div>
			</div>
		</div>

		<div class="eleven wide column" style="padding:0px; height: 100%">
			{{outlet "conversation-content"}}
		</div>
	</div>
</div>
{{/if}}

