{{outlet}}
<div id="one"></div>
<div id="one"></div>
<div id="one"></div>

<div class="ui grid">
  <div class="ui row"></div>
  <div class="ui centered row">
    <div class="four wide column">
      <div class="ui fluid vertical blue secondary pointing menu" id="account_menu">
        <div class="active item" data-tab="ainfo">Account Info</div>
        {{#if session.secure.isHighSchooler}}
          <div class="item" data-tab="my-schools">My Schools</div>
        {{/if}}
      </div>
    </div>
    <div class="ten wide column">
      <div class="ui active tab" data-tab="ainfo">
        {{#if email_updated}}
            <div class="ui message"> <i class="green check icon"/> Email updated to {{model.email}} </div>
        {{else}}
        <form class="ui center aligned form" {{action "changeEmail" on="submit"}} >
          <div class="ten wide field {{if invalid_email 'error'}}">
            <h4 class="ui horizontal divider header">
              <i class="mail outline icon"></i>Email
            </h4>
            {{input value=new_email placeholder=model.email}}
          </div>
          <div class="ui primary button" type="submit" {{action "changeEmail"}} >Update your Email</div>
        </form>
        {{/if}}
        <!--
        <div id="five"></div>
        <div class="ui center aligned form">
          <div class="ten wide field">
            <h4 class="ui horizontal divider header">
              <i class="lock icon"></i>Password
            </h4>
            <input type="text" name="first-name" placeholder="Current password">
          </div>
          <div class="ten wide field">
            <input type="text" name="first-name" placeholder="Type in your new password">
          </div>
          <div class="ten wide field">
            <input type="text" name="last-name" placeholder="Retype your password">
          </div>
          <div class="ui primary button" type="submit">Update your password</div>
        </div>
        -->
      </div>
      {{# if session.secure.isHighSchooler}}
        <div class="ui tab" data-tab="my-schools">
          <h4 class="ui horizontal divider header">
            Current Conversations
          </h4>    
          <div class="ui divided list">                
            {{#each colleges_with_conversations as |target_school|}}
              <div class="item">
                <div class="ui header" style="padding-bottom: 10px"> {{target_school.college.name}} </div>
                {{#each target_school.conversations key="id" as |convo| }}
                  {{#link-to 'conversations.conversation' convo}}
                    {{conversation-link conversation=convo}}
                  {{/link-to}}
                {{/each}}
              </div>
            {{/each}}
          </div>

          <h4 class="ui horizontal divider header">
            Pending Mentor Requests
          </h4>   

          <div class="ui relaxed divided list">                
            {{#each colleges_with_mentor_requests as |target_school| }}
            <div class="item">
              <div class="ui header" style="padding-bottom: 10px"> {{target_school.college.name}} </div>
              {{#each target_school.mentor_requests as |mentor_request|}}
                <i  {{action "destroy" mentor_request}} class="link circular middle aligned left floated red x icon"/>              
                <div class="content">
                  <div class="header"> Major </div>
                  <div class="description">{{mentor_request.intended_major}}</div>
                  <div class="header"> Activities </div> 
                  <div class="description"> {{mentor_request.activities}}</div>
                </div>
              {{/each}}
            </div>
            {{/each}}            
          </div>



          <h4 class="ui horizontal divider header">
            Request a mentor at another school
          </h4>
          <div class="ui center aligned form">
            <div class="ten wide field">
              {{college-dropdown items=filteredColleges prompt='Select college' action="setCollege"}}
            </div>
            <div class="ten wide field">
              {{input placeholder="What major?" value=intended_major}}
            </div>
            <div class="ten wide field">
              {{textarea rows="2" placeholder="What activites are you interested in?" value=activities}}
            </div>
            <button class="ui primary button" type="submit" {{action "requestNewMentor"}}>Request mentor</button>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</div>
