{{outlet}}

<div class="ui grid">
  <div class="ui centered row">

    <h3 class="ui blue header">
        Applying to {{model.college}}
    </h3>
  </div>
  <div class="ui row">
    <div class="three wide column"></div>
    <div class="nine wide column">
      <div class="ui list divided animated middle aligned">
        {{#each field in data_fields}}
          <div class = "item">
            {{field}}
          </div>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="ui row">
    <div class="four wide column"></div>
    <button id="den_button" class="ui fade red basic button {{if guessed 'disabled'}}" {{action 'guess' false model.decision}}>
      Denied
    </button>
    <div class="six wide column">
      {{#if guessed}}
        <div id="result" class="ui centered header {{if correct 'blue' 'red'}}">
          {{#if correct}} Yup!
          {{else}} Nope,
          {{/if}}
          {{#if model.decision}} this student got in
          {{else}} this student didn't get in
          {{/if}}
        </div>
      {{/if}}
    </div>
    <button id="acc_button" class="ui fade blue basic button {{if guessed 'disabled'}}" {{action 'guess' true model.decision}}>
      Accepted
    </button>
  </div>
  <div class="ui centered row">
    {{#if guessed}}
      <button id="play_again" class="ui fade blue basic button" {{action 'reload'}}>
        Click to play again
      </button>
    {{/if}}
  </div>
</div>
