{{yield}}
<div class="ui grid">
<div class="three column centered row">
  <div class="ui buttons">
    <button class="ui button" {{action 'isStudent'}}>High Schooler</button>
    <div class="or"></div>
    <button class="ui primary button" {{action 'isCollege'}}>College Student</button>
  </div>
</div>


<div class="column centered row">
  <div class="five wide column">
    <form class="ui center aligned form">
      {{#if something_selected}}
        {{#if email_taken}}
          <div class="ui big red header">
            An error occurred. Perhaps you already have an account?
          </div>
        {{/if}}
        <div class="field {{if invalid_email 'error'}}">
          {{input class="ui input" type="text" value=email placeholder="Email"}}
        </div>
      {{/if}}
      {{#if highschooler}}
        <div class="field {{if invalid_school 'error'}}">
          {{input class="ui input" type="text" value=hschool placeholder="School"}}
        </div>
        <div class="field {{if invalid_college 'error'}}">
          {{college-dropdown name="What's your dream college?" action="setCollege"}}
        </div>
        {{#if issigningup}}
          <div id="hbutton" style="border-color:#5daaf8;border-style:solid;border-width:1px;" class="ui bottom attached basic blue loading button">bllll</div>

        {{else}}
			<div id="cbutton" class="ui fluid facebook button" {{action 'signup'}}>
			  <i class="facebook icon"></i>
			  Sign up
			</div>
        {{/if}}

      {{/if}}
      {{#if collegestudent}}
        <div class="field {{if invalid_college 'error'}}">
          {{college-dropdown name='Select your college' action="setCollege"}}
        </div>
			<div id="cbutton" class="ui fluid facebook button" {{action 'signup'}}>
			  <i class="facebook icon"></i>
			  Sign up
			</div>
      {{/if}}
    </form>

    <script>
    Ember.$('.ui.center.aligned.form').transition('slide down');
    </script>
  </div>
</div>
</div>
