
{{#if show_date}}
	<div class="ui tiny label {{if sent_by_curr_user 'right' 'left'}} floated content">
	{{moment message.created_at dateOutputFormat}} 
	</div>
	<br> <br>
{{/if}}

<div class="{{if sent_by_curr_user 'right' 'left'}} floated content" {{action "toggle_date"}} style="max-width: 20vw">
	<a class="ui large {{if sent_by_curr_user 'blue'}} label" style="white-space: normal">{{message.text}}</a>
</div>



{{yield}}	